.startScreen{
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.startScreen > *{
    margin: 20px;
}
.imageContainer{
    background-color: white;
    height:90px;
    width: 300px;
    overflow: hidden;
}
